<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="TS_CENTEREntities" connectionString="metadata=res://*/EF.DataContext.csdl|res://*/EF.DataContext.ssdl|res://*/EF.DataContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=TS_CENTER;persist security info=True;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>